.header_area{
  background: url("https://www.uni-prep.com/templates/beez_20/images/header-bg.jpg") repeat-x scroll 0 0 #f4f4f4;
}

/*style for the menu*/
.col-md-10.col-sm-12.main-nav-area {
margin: 0 auto;
float: none;
}
.nav_area_total {
padding: 5px 0px;
background: url(images/menu_bg.png);
}
.menu {
z-index: 9999;
position: relative;
}
.menu ul{margin:0;padding:0;list-style:none;}
.menu ul li {
float: left;
padding: 4px 20px;
border-left: 1px solid #69BAD7;
border-right: 1px solid #2F97BB;
position:relative;
}
.menu ul li:hover {
background: #0088cc;
border-radius: 4px;
}
.menu ul li a {
font-size: 14px;
color: #fff;
text-transform: uppercase;
}
.menu ul li:first-child{border-left: 0px solid #69BAD7;background:#0088cc;border-radius:5px;}
.menu ul li:last-child{border-right: 0px solid #69BAD7;}
/**/
.menu ul li ul{position:absolute;left:-999999px;}
.menu ul li:hover ul {
position: absolute;
left: 0px;
top: 28px;
background: #fff;
border: 1px solid #ddd;
border-radius: 5px;
padding: 6px 0px;
}
.menu ul li ul li a{color:#000;}
.menu ul li ul li {
float: none;
border-left: 0px solid #69BAD7;
border-right: 0px solid #2F97BB;
width: 220px;
}
.menu ul li ul li:first-child{background:#fff;border-radius:0px;}
.menu ul li ul li:hover {
background: rgb(2, 116, 179);
border-radius: 0px;
}
.menu ul li ul li:hover a{color:#fff;}
/**/